<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Tsilavo Tahina</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="static/assets/css/main.css">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="" contenteditable="false">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Tsilavo Tahina R.</h1>
						<p>EC Engineer •&nbsp; Ethical Hacker&nbsp; •&nbsp; Developer</p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/Tsilavo98" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/tsil.rakotoarisoa" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								
								<li><a href="https://github.com/Tsil-sudo" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:18ec.tsilavotahina@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">© Tsilavo.</span></footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	

</body></html>